<h1>My page</h1>

<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-header">
        <img class="rounded img-fluid" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
      <div class="card-body">
        <h3><%= @user.name %></h3>
        <% if current_user.id == params[:id] %>
          <h4><%= @user.email %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>